* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Raleway", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  height: 4em;
  margin: 1em;
}

.nav__links {
  align-self: center;
  margin-right: 1em;
}

.nav__links__item {
  margin-right: 2em;
  text-decoration: none;
  font-size: 1.4em;
  color: #193b4f;
}

.nav__links__item:hover {
  color: #ed7d2d;
}

.hero {
  background-color: #9ad7e7;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.hero__image {
  align-self: center;
}

.home,
.about,
.activities,
.contact,
.news,
.newsItem {
  margin: 2em;
}

.home__title,
.about__title,
.activities__title,
.contact__title,
.news__title,
.newsItem__title,
.loading {
  font-weight: 500;
  font-size: 2.5em;
  text-align: center;
  color: #193b4f;
  margin-bottom: 1.5em;
}

.loading {
  margin-top: 5em;
}

.about__content,
.activities__content,
.contact__content {
  margin: 2em;
  background-color: #9ad7e7;
  padding: 1em;
  border-radius: 6px;
}

.about__content {
  display: flex;
  flex-direction: row;
  margin-bottom: 3.5em;
}

.about__content__top__image,
.activities__content__image {
  max-height: 250px;
  border-radius: 6px;
}

.about__content__top__text {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-left: 1em;
  color: #193b4f;
  display: flex;
}

.about__content__history,
.about__content__team {
  margin: 2em;
  margin-bottom: 3em;
}

.about__content__history__title,
.about__content__team__title {
  font-weight: 500;
  color: #193b4f;
  font-size: 2em;
}

.about__content__history__text {
  color: #193b4f;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 0.8em;
}

.teamCard {
  background-color: #e6f5f9;
  margin-top: 1em;
  padding: 1em;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teamCard__title,
.activities__content__title,
.contact__content__title,
.newsCard__title,
.newsCard__date,
.newsItem__date {
  color: #193b4f;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.teamCard__bio,
.activities__content__text {
  color: #193b4f;
}

.teamCard__image {
  max-height: 200px;
  border-radius: 6px;
}

.activities__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activities__content__title,
.contact__content__title {
  font-size: 1.5em;
}

.news__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.newsCard {
  width: 30%;
  height: 330px;
  background-color: #9ad7e7;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 5px 5px 3px #cfd1d1;
}

.newsCard__image {
  max-height: 220px;
  align-self: center;
  margin: 1em;
  border-radius: 6px;
}

.newsCard__title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.newsCard__title:hover {
  color: #ed7d2d;
}

.newsCard__date {
  text-align: center;
}

a {
  text-decoration: none;
}

.newsItem__title {
  margin-bottom: 0.3em;
}

.newsItem__date {
  text-align: center;
  margin-bottom: 2em;
}

.newsItem__image {
  max-height: 350px;
}

.contact__container {
  margin: 2em;
}

.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3.5em;
  width: 40%;
  float: left;
}

.contact__content__title {
  margin-bottom: 0.3em;
}

.contact__content__text {
  color: #193b4f;
  font-size: 1.2em;
}

.contact__content__text__last {
  color: #193b4f;
  font-size: 1.2em;
  margin-bottom: 2em;
}

#map {
  height: 375px;
  width: 40%;
  border-radius: 6px;
  float: right;
  margin-top: 2.3em;
}
